# Folder Structure
.fvm/
.idea/
.fvmrc
.metadata
.vscode
.dart_tool

# Flutter Config
pubspec.lock
core_app.iml
build/
.flutter-plugins-dependencies
lib/src/shared/l10n/app_localizations_en.dart
lib/src/shared/l10n/app_localizations.dart


# Generated Codes
*.config.dart
*.freezed.dart
*.g.dart
*.gr.dart
.flutter-plugins
ios/Podfile.lock
l10n/
devtools_options.yaml
ios/Runner.xcodeproj/project.pbxproj
